<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>地域情報音声アシスタント</title>
  <link rel="icon" type="image/png" href="{% static 'icon/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <header>
    <div>
      <strong>地域情報アシスタント<br>～ノノ～</strong>
    </div>
  </header>

  <div class="help-container">
    <br><span>説明書→</span>
    <input type="button" id="click-btn" value="？"><!-- ヘルプマーク -->
  </div>

  <div id="popup-wrapper">
    <div id="popup-inside">
      <div class="fixed-content">
        <div style="position:relative; top:-20px;">
          <p>ここをクリックすると閉じます→</p>
        </div>
        <div id="close" style="top:-20px;">×</div>
        <div style="background-color: #e4ade6;">
          <h1>ノノの使い方</h1>
        </div>
      </div>
      <img src="{% static '/image/start.jpg' %}" width="100%" height="100%">
      <img src="{% static '/image/talk.jpg' %}" width="100%" height="100%">
      <img src="{% static '/image/finish.jpg' %}" width="100%" height="100%">
    </div>
  </div>

  <div class="question-header">
    <h3>
      <p>質問</p>
    </h3>
  </div>

  <div id="result-div" contenteditable="true"></div>

  <table>
    <tr><br>
      <td>
        <button id="start-btn">
          <font size="6"><b> 開始 </b></font>
        </button>
      </td>
      <td>
        <button id="stop-btn">
          <font size="6"><b> 終了 </b></font>
        </button>
      </td>
    </tr>
  </table><br>

  <hr>

  <div class="response-header">
    <h3>
      <span style="font-size:150%">
        <strong>ノノから返答</strong>
      </span>
    </h3>
  </div>

  <div id="response-div"></div>

  <!-- 評価実験用 
  <br><br><br><br>
  <hr>

  <div class="response-header">
    <h3>
      <span style="font-size:150%">
        <strong>評価実験用 音声</strong>
      </span>
    </h3>
  </div>

  <table>
    <td>
      <button id="answer-btn">
        <font size="6"><b> 回答 </b></font>
      </button>
    </td>
    <td>
      <a>
        <button id="description-btn">
          <font size="6"><b> 説明 </b></font>
        </button>
      </a>
    </td>
  </table>
  <br><br>
  <div id="event-div"></div>
-->

  <audio id="btn_audio">
    <source src="media/audio/btn_audio.mp3" type="audio/mp3">
  </audio>
  <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
  <script src="{% static 'javascript/main.js' %}"></script>
</body>

</html>